body{
    font-family: Arial;
    background:#f0f0f0;
    padding:30px;
}

.container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    width:250px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    border-radius:8px;
}